/* Variables */

/* Reseteo De Estilos */
*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: system-ui, -apple-system,sans-serif;
}
button{
  all:unset;
  &:hover{
    cursor: pointer;
  }
}

/* Estilos Generales */

body{
  width: 100%;
  height: 100vh;
  background-color: rgb(121, 121, 121);

  display: flex;
  align-items: center;
  justify-content: center;
}


/* Calculator */

.container{
  background-color: black;
  font-size: 1.8rem;
  width: 350px;
  border-radius: 12px;
  border: 12px solid black;
  border-top: 5px;
  overflow: hidden;

  
    & .input-container{
      width: 100%;
      height: 100px;
      margin: auto;

      color: white;
      background-color: rgb(0, 0, 0);
      padding: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

        & #input {
          all:unset;
          width: 100%;
          height: 70px;
          padding: 0 1rem;
          
          border-radius: 10px;
          overflow: hidden;

          font-size: 2.6rem;
          background-color: rgb(53, 53, 53);
          color: white;
        }
    }

    & .buttons{
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 80px 80px 80px 80px 80px;

      border-radius: 12px;
      overflow: hidden;
    

      & .item{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        background-color: rgb(36, 36, 36);
        color: white;

        transition-duration: 100ms;
      }
      & .item:hover{
        background-color: rgb(68, 68, 68);
        color: rgb(255, 255, 255);
      }
      & .itemZero {
        grid-row: 5/6;
        grid-column: 1/3;
      }
      & .item1 {
        background-color: rgb(26, 99, 128);
        &:hover{
          background-color: rgb(38, 146, 189);
          color: white;
        }
      }
      
      & .item3{
        background-color: rgb(138, 138, 138);
        &:hover{
          background-color: rgb(177, 177, 177);
          color: white;
        }
      }
      #equal{
        background-color: rgb(60, 95, 8);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
          &:hover{
            background-color: rgb(87, 138, 12);
            color: white;
          }
      }
    }
}
